html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'ucida Casual','Comic Sans MS';
}

.navbar_img {
    width: 30px;
    height: 35px;
    float: left;
    border-color: #2e6da4;
    background-size: auto 100%;
    margin-top: -5px;
    margin-right: 5px ;
}