{% extends 'customer/base.html' %}

{% load static %}

{% block content %}
		<div class="privacy about">
			<h3>About Us</h3>
			<p class="animi">We are a leading distributor of fresh grocery products produced and processed right in your neighbourhood to your home directly from your computer or mobile phone. You can choose from over hundreds of products spread across various categories such as grocery, bakery, fruits & vegetables, beverages, personal care products, baby care products, pet products and much more. It's so simple that all you just have to register and order from the comforts of your home.</p>
			<div class="agile_about_grids">
				<div class="col-md-6 agile_about_grid_right">
					<img src="{% static 'customer/images/31.jpg' %}" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 agile_about_grid_left">
					<ol>
						<li>Easily order your favourite grocery from comforts of your home</li>
						<li>Dedicated blog for all your problems.</li>
						<li>Different categories containing hundreds of unique products to satisfy all your needs.</li>
						<li>Easy and smooth interface for vendor to efficienty run their operations</li>
						<li>Notifications and confirmations sent to Users and Vendors for their information</li>
						<li>All our product are fresh and safe.</li>
					</ol>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
		<div class="clearfix"></div>
	</div>

{% endblock %}