{% extends 'customer/base.html' %}
{% load static %}

{% block scripts %}
<script>
        $(".cart-add").click(function () {
            let span = $(this).parent();
            var vendorid = parseInt(document.getElementById("select_vendor").value)
            console.log(vendorid)
            $.ajax({
                url: span.attr("add_url"),
                data: {vendorid:vendorid},
                {#success: function (response) {#}
                {#    console.log("finished", response);},#}
                {#error: function (xhr, textStatus, errorThrown) {#}
                {#    $.ajax({#}
                {#        url: '/customer/authentication/login/',#}
                {#        data:{vendorid:vendorid,next:span.attr("add_url"),nextto:span.attr("nextto")}#}
                {#    })}#}

            });
            {% if user.is_authenticated %}
                $(this).remove();
                $(span).append($('<a/>')
                    .attr('href',"{% url 'cart:order_summary'%}")
                    .addClass("btn btn-warning")
                    .text("Go to Cart"));
            {% else %}
                window.location.replace('/customer/authentication/login/?next='+span.attr("add_url")+'&nextto='+span.attr("nextto")+'&vendorid='+vendorid)
            {% endif %}
        });
</script>
{% endblock %}

{% block content %}
    <ol>
        <li>
                Name: <b>{{ prod.prod_name }}</b>
                <ul>
                    {% if prod.prod_pic %}
                        <img src="{{ prod.prod_pic.url }}" width="200" height="200">
                    {% endif %}
                    <li>Category: <b>{{ prod.category.cat_name }}</b></li>
{#                    <li>Stock: <b>{{ prod.stock }}</b></li>#}
                    <li>Price: <b>{{ prod.cost }}</b></li>
                    {% if prod.brand|length > 0 %}
                        <li>Brand: <b>{{ prod.brand }}</b></li>
                    {% endif %}
                    {% if prod in current_order_products %}
                        <a class="btn btn-warning cart-add"  href="{% url 'cart:order_summary' %}">Go to Cart</a>
                    {% else %}
                        <span id="prod_{{ prod.id }}" nextto="{% url 'customer:items' cat.id %}" add_url="{% url 'cart:add_to_cart' prod.id %}">
                                <a class="btn btn-warning cart-add">Add to Cart</a>
                    {% endif %}
                    </span>
                <a href="{% url 'customer:review'  cat.id prod.id  %}"><h3 style="margin-left:40em">write a review</h3></a>
                </ul>
            </li>
            <br>
                Choose your vendor<br>
                <select id="select_vendor">
                {% for vendor in vendors %}
                    <option value="{{ vendor.id }}">{{ vendor.Vendor }}</option>
                {% endfor %}
                </select>
                <br>
                Reviews:
             <a name="review">
                  {% for review in prod.review_set.all %}
                    <p>{{ review.content }}</p>
                <div class="star-rating">
                    <input id="star-5_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked disabled>
                    <label for="star-5_{{ review.pk }}" title="5 stars">
                   <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>

                    <input id="star-4_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked disabled>
                    <label for="star-4_{{ review.pk }}" title="5 stars">
                   <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-3_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked disabled>
                    <label for="star-3_{{ review.pk }}" title="5 stars">
                   <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-2_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked disabled>
                    <label for="star-2_{{ review.pk }}" title="5 stars">
                   <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <input id="star-1_{{ review.pk }}" type="radio" name="ratingnew_{{ review.pk }}" value="5" checked disabled>
                    <label for="star-1_{{ review.pk }}" title="5 stars">
                   <i class="active fa fa-star" aria-hidden="true"></i>
                    </label>
                    <script>
                        console.log($('input[name="ratingnew_{{ review.pk }}"]:radio'));
                        $($('input[name="ratingnew_{{ review.pk }}"]:radio')[5-{{ review.rating }}])
                            .prop("checked", true);
                    </script>
                </div>
                <footer class = "blockquote-footer">by <cite>{{ review.customer }}</cite></footer>
              {% endfor %}
              </a>
            </div>

    </ol>
{% endblock %}