{% extends 'customer/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}

{#            Username : <input type="text" value="{{ user.username }}" name="username"><br>#}
{#            Firstname: <input type="text" value="{{ user.first_name }}" name="first_name"><br>#}
{#            Lastname : <input type="text" value="{{ user.last_name }}" name="last_name"><br>#}
{#            Email    : <input type="email" value="{{ user.email }}" name="email"><br>#}
{#            phone    : <input type="number" value="{{ user.cus.phone_number }}" name="phone"><br>#}
            {{ form.as_p }}
            {{ ContactForm.as_p }}
            <input type="submit" value="Update">
        </form>
{#        {% for foo in ordre %}#}
{#        {{ foo }}#}
{#            {% for o in foo.items.all %}#}
{#                {{ o }}#}
{#            {% endfor %}#}
{##}
{#        {% endfor %}#}
        {% if ordre %}
            <table border="5" class="table table-hover table-bordered text-center">
            {% for o in ordre %}
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Order_Id</th>
                    <th>Items</th>
                    <th>Total</th>

                </tr>
                </thead>
                <tr>
                    <td>{{ o }}</td>
                    <td>
                        {% for item in o.items.all %}
                            {{ item }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        ₹{{ o.get_cart_total }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}