{% extends 'customer/base.html' %}
{% load customer_filters %}
{% load qr_code %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="login">
        <div class="login_module">
				<div class="module form-module">
				  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
				  </div>
				   <div class="form">
					<h2>Update Account</h2>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}
            {{ ContactForm.as_p }}
            <input type="submit" value="Update">
        </form>
                   </div></div></div>
        </div>


    {% endif %}
{% endblock %}