<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends 'customer/base.html' %}
{% load static %}
  <body>
<div class = "container" >

{% block content %}
    <h1>Review:</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="star-rating">
  			<input id="star-5" type="radio" name="rating" value="5">
  			<label for="star-5" title="5 stars">
  					<i class="active fa fa-star" aria-hidden="true"></i>
  			</label>
  			<input id="star-4" type="radio" name="rating" value="4">
  			<label for="star-4" title="4 stars">
  					<i class="active fa fa-star" aria-hidden="true"></i>
  			</label>
  			<input id="star-3" type="radio" name="rating" value="3">
  			<label for="star-3" title="3 stars">
  					<i class="active fa fa-star" aria-hidden="true"></i>
  			</label>
  			<input id="star-2" type="radio" name="rating" value="2">
  			<label for="star-2" title="2 stars">
  					<i class="active fa fa-star" aria-hidden="true"></i>
  			</label>
  			<input id="star-1" type="radio" name="rating" value="1">
  			<label for="star-1" title="1 star">
  					<i class="active fa fa-star" aria-hidden="true"></i>
          </div>
        <button type="submit" class="save btn btn-default">Add</button>

        </form>
{% endblock %}
