{% extends 'customer/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <a href="{% url 'customer:actor_authentication:customer_signup' %}" target="_blank" class="d-inline-block m-3">
            <button type="button" class="btn btn-success d-inline-block">Sign up as a customer</button>
        </a>
        <a href="{% url 'vendor:actor_authentication:vendor_signup' %}" target="_blank" class="d-inline-block m-3">
            <button type="button" class="btn btn-success d-inline-block">Sign up as a vendor</button>
        </a>
    </div>
{% endblock %}