{% autoescape off %}
Hi {{ user.username }}
<table border="3">
{% for item in ordre.get_cart_item %}
                    <tr>
                        <td>   {{ forloop.counter }}   </td>
                        <td>   {{ item }}  </td>
                        <td>   ₹{{ item.product.cost }}    </td>

                    </tr>
    {% endfor %}
<tr>
    <td colspan="2">Total</td>
    <td>{{ total }}</td>
</tr>
</table>
    <br>
    <a href="http://127.0.0.1:8000/customer/QrCode/{{ ordre.id }}/" download="{{ ordre }}">Download QrCode</a><br>
    <a href="http://127.0.0.1:8000/customer/home"><button>Continue shopping</button></a>
{% endautoescape %}