{% extends 'customer/base.html' %}
{% load customer_filters %}
{% block content %}
    <section>
        <div class="row">
            <table class="table table-hover table-bordered text-center">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th>S.No</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price/per</th>
                    <th></th>

                </tr>
                </thead>
                {% for item in order.get_cart_item %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <strong>{{ item.product.prod_name }}
                            <span class="pull-right">
              <a href="{% url 'cart:delete_from_cart' item.id %}" data-balloon="remove this item from cart"
                 class="text-danger" onclick="return confirm_delete();">
                  <button type="button" class="btn btn-outline-danger btn-sm">Remove</button>
              </a>
                            </span></strong>
                        </td>
                        <td>
                            <select id="{{ item.id }}" onchange="mult(this)">
                                <option value="{{ item.qty }}" selected>{{ item.qty }}</option
                                {% for i in item|get_qty_number %}
                                    <option value={{ i|add:1 }}>{{ i|add:1 }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><strong>₹{{ item.product.cost }}</strong></td>
                        <td><strong>₹<span id="get_price{{ item.id }}">{% multiply item.product.cost item.qty %}</span></strong></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=4> You have not added any items yet.</td>
                    </tr>
                {% endfor %}
                <tr>
                    {% if order.get_cart_total != None %}
                        <td colspan=4>
                            <strong class="pull-right">Order Total:</strong>
                        </td>

                        <td colspan=2>
                            ₹<strong id="total">{{ order.get_cart_total }}</strong>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan=2>
                        <a href="{% url 'customer:home' %}" class="btn btn-warning pull-left">
                            {% if order %}
                                Continue Shopping
                            {% else %}
                                Add Items to Cart
                            {% endif %}
                        </a>
                    </td>
                    <td colspan=3>
                        {% if order.get_cart_item %}
                            <a href="{% url 'cart:update' %}" class="pull-right btn btn-primary">Proceed To Checkout</a>
                        {% endif %}
                    </td>
                </tr>
            </table>

        </div>

    </section>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% csrf_token %}
    <script>
        function confirm_delete() {
            return confirm("Do you want to remove this item from cart?");
        }

        function mult($this) {
            var x = 0, y = 0, z;
            z = $this.value
            {% for item in order.get_cart_item %}

                y = parseInt(document.getElementById("{{ item.id }}").value);
                x = x + {{item.product.cost}}*y;
                document.getElementById("get_price{{ item.id }}").innerHTML = ({{item.product.cost}}*y);
                {#$(#{{ item.id }}).html({{item.product.cost}}*y);#}
            {% endfor %}
            document.getElementById("total").innerHTML = x;
            var item_id = $this.id;
            var order_id = parseInt({{ order.id }});
            console.log("data: " + item_id + "        " + order_id + "           " + y);
            $.ajax({
                type: "POST",
                url: "{% url 'cart:qtyupate' %}",
                data: {item_id: item_id, order_id: order_id, z: z, csrfmiddlewaretoken: '{{ csrf_token }}'},
            })
        }

        $("button.add").on("click", function () {
            var tbody = $("table tbody");
            tbody.find("tr:eq(0)").clone().appendTo(tbody).find("input").val("");
        });
    </script>
{% endblock scripts %}