<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'blog:post_list' %}">FAQ's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0" action="{% url 'blog:post_list' %}">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
    <ul class="navbar-nav mr-auto">
         <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><a href="{% url 'blog:post_create' %}" style="text-decoration: none">Ask a Question</a></button>
    </ul>
    <ul class="navbar-nav mr-auto">
        <a href="{% url 'customer:home' %}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-home"></span> Home
        </a>
    </ul>
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.profile.image %}
                <img src="{{ request.user.profile.photo.url }}" alt="" class="navbar_img">
            {% else %}
                <img src="/media/default_avatar.png" class="navbar_img">
            {% endif %}
            <span> Hi {{ request.user | capfirst }}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'customer:profile' %}">My Profile</a>
          {% if request.user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'blog:my_drafts' %}">My Drafts</a>
              <a class="dropdown-item" href="{% url 'blog:my_posts' %}">My Posts</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'customer:actor_authentication:logout' %}">LOG OUT</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
            <a href="{% url 'customer:actor_authentication:login_all' %}" class="nav-link">LOG IN</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>