{% extends 'blog/base.html' %}
{% block title %}
    Welcome to {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3>{{ post.title }}</h3>
        <small> Post created by: {{ post.author }}</small>
        <br>
        <p>{{ post.body }}</p>
    </div>
    <div id="like_section">
        {% include 'blog/like_section.html' %}
    </div>
    <P>{{ total_likes }} likes</P>
    {% if post.author == request.user %}
    <div class="section-1" style="float: right">
        <a href="{% url 'blog:post_edit' post.id %}">
            <button type="button" class="btn btn-outline-success">Edit</button>
        </a>
        <a href="{% url 'blog:post_delete' post.id %}" id="delete">
            <button type="button" class="btn btn-outline-danger">Delete</button>
        </a>
    </div>
    {% endif %}

{# COMMENT SECTION AHEAD #}
    <br><br>
    <hr>
    {% if request.user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn btn-outlined-success" value="Post Comment">
    </form>
    {% endif %}
    <div class="main-comment-section block">
        {{ comments.count }} Comment{{ comments|pluralize }}
        {% for comment in comments %}
        <blockquote class="blockquote">
            <p class="mb-0">{{ comment.content }}</p>
            <footer class="blockquote-footer">By<cite title="Source Title"> {{ comment.user|capfirst }}</cite></footer>
        </blockquote>
{# REPLY SECTION AHEAD #}
        <div class="replied-comments container mt-2">
            <div class="form-group row">
                {% if request.user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outlined-info reply-starter" name="comment_id" value="{{ comment.id }}">Want to Reply</input>
                        {{ comment_form.as_p }}
                        <input type="submit" class="btn btn-outlined-success" value="REPLY">
                    </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
