{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Grocery Store</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'registration/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'registration/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'registration/css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //font-awesome icons -->
<!-- js -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="{% static 'registration/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'registration/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'registration/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->

</head>

<body>
<!-- header -->
	<div class="header">
		<div class="offers">
            {% if user.is_authenticated %}
			<a>Hi, Welcome {{ user.username }} !</a>
            {% else %}
            <a>Hi, Welcome Today !</a>
            {% endif %}
		</div>
		<div class="search">
			<form action="{% url 'customer:search_results' %}">
				<input type="text" name="q" placeholder="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
				<input type="submit" value=" " name="search_button">
			</form>
		</div>
		<div class="product_list_header">
			<form action="{% url 'cart:order_summary' %}" method="post" class="last">
				{% csrf_token %}
                <fieldset>
                    {% if user.is_authenticated %}
                        <input type="submit" name="submit" value="View your cart" class="button" />
                    {% endif %}
                </fieldset>
            </form>
		</div>
		<div class="header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					<div class="mega-dropdown-menu">
						<div class="vegetables">
							<ul class="dropdown-menu drp-mnu">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'customer:actor_authentication:logout' %}">Logout</a></li>
                                    <li><a href="{% url 'customer:profile' %}">UserProfile</a></li>
                                {% else %}
                                    <li><a href="{% url 'customer:actor_authentication:login_all' %}">Login</a></li>
                                    <li><a href="{% url 'customer:actor_authentication:signup_all' %}">Sign Up</a></li>
{#                                    <li><a href="{% url 'vendor:actor_authentication:vendor_signup' %}">Sign Up <small>Vendor</small></a></li>#}
                                {% endif %}
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="header_right1">
			<h2><a href="#">Contact Us</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop();
			if(scrollpos >=navoffeset){
				$(".header").addClass("fixed");
			}else{
				$(".header").removeClass("fixed");
			}
		 });

	});
	</script>
<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container" style="margin-left: 550px;">
			<div class="logo_products_left">
				<h1><a><span>Grocery</span> Store</a></h1>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
<div class="banner"></div>


{% block content %}

{% endblock %}


<!-- footer -->
	<div class="footer">
		<div class="container" style="margin-left: 187px;">
			<div class="col-md-3 footer_grid">
				<h3>information</h3>
				<ul class="footer_grid_list">
					<li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Best Deals</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Short Codes</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer_grid">
				<h3>policy info</h3>
				<ul class="footer_grid_list">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">terms of use</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer_grid">
				<h3>what in stores</h3>
				<ul class="footer_grid_list">
					<li><a href="#">Pet Food</a></li>
					<li><a href="#">Frozen Snacks</a></li>
					<li><a href="#">Kitchen</a></li>
					<li><a href="#">Branded Foods</a></li>
					<li><a href="#">Households</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="footer_grids">
				<div class="col-md-3 footer_grid footer_grids_footer">
					<div class="footer_grid_bottom">
						<h5>connect with us</h5>
						<ul class="social_icons">
							<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'registration/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->

</body>
{% block scripts %}
{% endblock %}
</html>